.contactMe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2024px;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  .contactContainer {
    position: fixed;
    width: 60%;
    height: 600px;
    margin: 0 0 0 350px;
    padding-top: 30px;
    background-color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: lighter;
    .contactDescription {
      font-size: 25px;
      text-align: center;
      margin-bottom: 20px;
    }
    .sender {
      display: flex;
      margin-left: 125px;
      margin-bottom: 20px;
      .name {
        margin-right: 50px;
      }
      input {
        width: 275px;
      }
    }
    .msg {
      margin-left: 125px;
    }
    .txt {
      margin-bottom: 10px;
    }
    textarea {
      width: 600px;
      height: 280px;
    }
    button {
      float: right;
      margin-top: 15px;
      margin-right: 135px;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
    }
  }
}
