@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
.navbar-default {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  border-radius: 0px;
  border: 0;
  background-color: white; }
  .navbar-default .alert {
    width: 20%;
    margin: 20px auto;
    text-align: center;
    display: none; }
  .navbar-default .container-fluid .navbar-header .homeLink {
    margin: 15px 0 0 75px; }
  .navbar-default .container-fluid .navbar-header .logo {
    width: 95px;
    height: 95px; }
  .navbar-default .container-fluid .navbar-nav {
    float: right;
    margin-right: 100px; }
    .navbar-default .container-fluid .navbar-nav li {
      font-family: 'Roboto Slab', serif;
      font-size: 25px;
      font-weight: normal;
      margin: 40px 20px 0 0;
      transition: 150ms;
      cursor: pointer; }
    .navbar-default .container-fluid .navbar-nav .home {
      padding: 0 5px 0 5px; }
    .navbar-default .container-fluid .navbar-nav .home:hover {
      border-bottom: 2px solid black; }
    .navbar-default .container-fluid .navbar-nav .about {
      padding: 0 5px 0 5px; }
    .navbar-default .container-fluid .navbar-nav .about:hover {
      border-bottom: 2px solid black; }
    .navbar-default .container-fluid .navbar-nav .skills {
      padding: 0 5px 0 5px; }
    .navbar-default .container-fluid .navbar-nav .skills:hover {
      border-bottom: 2px solid black; }
    .navbar-default .container-fluid .navbar-nav .projects {
      padding: 0 5px 0 5px; }
    .navbar-default .container-fluid .navbar-nav .projects:hover {
      border-bottom: 2px solid black; }
    .navbar-default .container-fluid .navbar-nav .contacts {
      border: 1px solid black;
      padding: 0 10px 0 10px;
      border-radius: 10px;
      margin-left: 250px;
      transition: 250ms;
      transition-delay: 100ms; }
    .navbar-default .container-fluid .navbar-nav .contacts:hover {
      color: white;
      background-color: black; }
  .navbar-default .fa-bars {
    display: none;
    position: absolute; }

.sideBar {
  position: fixed;
  background-color: rgba(223, 223, 223, 0.5);
  width: 50px;
  height: 110px;
  right: -5px;
  border: 1px solid black;
  border-radius: 5px; }
  .sideBar ul {
    height: 100%;
    list-style: none; }
  .sideBar .top {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: 'Roboto Slab', serif;
    cursor: pointer; }
  .sideBar .linkedinIcon {
    position: absolute;
    top: 35px;
    left: 10px; }
  .sideBar .gitHubIcon {
    position: absolute;
    top: 70px;
    left: 10px; }

.footer {
  height: 375px;
  margin-top: 50px;
  background-color: #8C43FF;
  color: #FFF;
  font-family: 'Roboto Slab', serif; }
  .footer .footerContainer {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px; }
    .footer .footerContainer .footerDescription {
      font-size: 20px;
      font-weight: normal;
      text-align: center; }
    .footer .footerContainer .links {
      margin: 50px 0 50px 30px;
      text-align: center; }
      .footer .footerContainer .links .fa-linkedin-in {
        padding: 11px 10px 11px 10px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        color: white;
        transition: 300ms; }
      .footer .footerContainer .links .fa-linkedin-in:hover {
        color: #8C43FF;
        background-color: #FFF; }
      .footer .footerContainer .links .fa-github {
        padding: 10px 10px 10px 10px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        color: white;
        transition: 300ms; }
      .footer .footerContainer .links .fa-github:hover {
        color: #8C43FF;
        background-color: #FFF; }
      .footer .footerContainer .links .fa-facebook-f {
        padding: 10px 12px 10px 12px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        color: white;
        transition: 300ms; }
      .footer .footerContainer .links .fa-facebook-f:hover {
        color: #8C43FF;
        background-color: #FFF; }
      .footer .footerContainer .links .fa-twitter {
        padding: 10px 10px 10px 10px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        color: white;
        transition: 300ms; }
      .footer .footerContainer .links .fa-twitter:hover {
        color: #8C43FF;
        background-color: #FFF; }
      .footer .footerContainer .links .fa-instagram {
        padding: 10px 10px 10px 10px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 25px;
        color: white;
        transition: 300ms; }
      .footer .footerContainer .links .fa-instagram:hover {
        color: #8C43FF;
        background-color: #FFF; }
      .footer .footerContainer .links i {
        margin-right: 50px; }
    .footer .footerContainer .copyright {
      text-align: center;
      font-size: 13px;
      font-weight: lighter; }
    .footer .footerContainer .credits {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
      font-weight: lighter; }
      .footer .footerContainer .credits .form {
        width: 15px;
        height: 15px; }

/* Extra small devices (phones, 420px and down) */
@media only screen and (min-width: 420px) {
  .container-fluid .navbar-header .homeLink {
    margin: 0 0 0 40% !important; }
  .container-fluid .fa-bars {
    display: block;
    top: 25px;
    left: 20px; }
  .container-fluid .navbar-nav {
    display: none; } }

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-fluid .navbar-header .homeLink {
    margin: 0 0 0 40% !important; }
  .container-fluid .fa-bars {
    display: block;
    top: 25px;
    left: 20px;
    width: 100px; }
  .container-fluid .navbar-nav {
    display: none; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-fluid .navbar-header {
    width: 100%; }
    .container-fluid .navbar-header .homeLink {
      margin: 0 0 0 40% !important; }
  .container-fluid .fa-bars {
    display: block;
    top: 25px;
    left: 20px; }
  .container-fluid .navbar-nav {
    display: none; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-fluid .navbar-header {
    width: 50px; }
    .container-fluid .navbar-header .homeLink {
      margin: 0 0 0 75px !important; }
  .container-fluid .navbar-nav .contacts {
    margin-left: 50px !important; }
  .container-fluid .fa-bars {
    display: none; }
  .container-fluid .navbar-nav {
    display: block; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-fluid .navbar-header {
    width: 50px; }
    .container-fluid .navbar-header .homeLink {
      margin: 15px 0 0 75px !important; }
  .container-fluid .navbar-nav .contacts {
    margin-left: 250px !important; } }

.aboutBackground {
  height: 850px;
  margin-top: 100px;
  padding-top: 70px;
  color: white;
  background-color: #8C43FF; }
  .aboutBackground .startBodyBracket {
    margin-left: 150px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive; }
  .aboutBackground .endBodyBracket {
    margin-left: 150px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive; }
  .aboutBackground .aboutMe {
    font-family: 'Roboto Slab', serif; }
    .aboutBackground .aboutMe h2 {
      padding-top: 50px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 30px;
      font-weight: bold; }
    .aboutBackground .aboutMe p {
      width: 60%;
      margin: 0 auto;
      padding-bottom: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: lighter; }

/* Extra small devices (phones, 420px and down) */
@media only screen and (min-width: 420px) {
  .aboutBackground {
    padding-top: 10px; }
    .aboutBackground .aboutMe {
      height: 550px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .aboutBackground .aboutMe p {
        width: 270px; }
    .aboutBackground .startBodyBracket, .aboutBackground .endBodyBracket {
      display: none; } }

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .aboutBackground {
    padding-top: 10px; }
    .aboutBackground .aboutMe {
      height: 550px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .aboutBackground .aboutMe p {
        width: 85%; }
    .aboutBackground .startBodyBracket, .aboutBackground .endBodyBracket {
      display: block;
      margin-left: 10px; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .aboutBackground {
    padding-top: 10px; }
    .aboutBackground .aboutMe {
      height: 550px; }
      .aboutBackground .aboutMe p {
        width: 65%; }
    .aboutBackground .startBodyBracket, .aboutBackground .endBodyBracket {
      display: block;
      margin-left: 25px; } }

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.skillsFlexbox {
  display: flex;
  width: 90%;
  height: 740px;
  margin: 0 auto;
  margin-top: -200px;
  margin-bottom: 100px;
  border: 1px solid #E6ECF8;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #E6ECF8;
  background-color: #FFF;
  font-family: 'Roboto Slab', serif; }
  .skillsFlexbox h3 {
    font-size: 25px;
    font-weight: bold; }
  .skillsFlexbox p {
    font-size: 15px;
    font-weight: lighter; }
  .skillsFlexbox .skillsList {
    list-style: none; }
    .skillsFlexbox .skillsList li {
      font-weight: lighter; }
    .skillsFlexbox .skillsList .desTitle {
      font-size: 20px;
      font-weight: normal;
      color: #8C43FF;
      text-decoration: underline; }
  .skillsFlexbox .box1 {
    width: 33.33%;
    border-right: 1px solid #E6ECF8;
    text-align: center; }
    .skillsFlexbox .box1 .box1Icon {
      padding-top: 50px;
      margin-bottom: 50px; }
      .skillsFlexbox .box1 .box1Icon img {
        width: 50px;
        height: 50px; }
    .skillsFlexbox .box1 .description {
      margin: 50px 5px 50px 5px; }
    .skillsFlexbox .box1 .skillsList {
      margin-top: 40px; }
      .skillsFlexbox .box1 .skillsList .desTitle {
        margin-top: 20px;
        margin-bottom: 20px; }
  .skillsFlexbox .box2 {
    width: 33.33%;
    border-right: 1px solid #E6ECF8;
    text-align: center; }
    .skillsFlexbox .box2 .box2Icon {
      padding-top: 50px;
      margin-bottom: 50px; }
      .skillsFlexbox .box2 .box2Icon img {
        width: 50px;
        height: 50px; }
    .skillsFlexbox .box2 li {
      font-size: 20px;
      margin-top: 20px;
      text-align: left;
      list-style-type: decimal; }
    .skillsFlexbox .box2 .description {
      margin: 50px 5px 50px 5px; }
    .skillsFlexbox .box2 .skillsList {
      margin-top: 80px; }
  .skillsFlexbox .box3 {
    width: 33.33%;
    text-align: center; }
    .skillsFlexbox .box3 .box3Icon {
      padding-top: 50px;
      margin-bottom: 50px; }
      .skillsFlexbox .box3 .box3Icon img {
        width: 50px;
        height: 50px; }
    .skillsFlexbox .box3 li {
      font-size: 20px;
      text-align: left;
      list-style-type: decimal; }
    .skillsFlexbox .box3 .topicStart {
      margin-top: 40px;
      margin-left: 5px;
      font-size: 20px;
      font-weight: normal;
      color: #8C43FF;
      text-align: left; }
    .skillsFlexbox .box3 .description {
      margin: 50px 5px 50px 5px; }
    .skillsFlexbox .box3 .interestDescrip {
      margin-top: 5px; }

/* Extra small devices (phones, 420px and down) */
@media only screen and (min-width: 420px) {
  .skillsFlexbox {
    margin-top: -270px; }
    .skillsFlexbox .skillsList {
      padding: 0; }
    .skillsFlexbox .box1 .description h3, .skillsFlexbox .box1 .description p {
      display: none; }
    .skillsFlexbox .box2 .description .skillsList {
      margin-top: 0; }
    .skillsFlexbox .box2 .description li {
      list-style: none;
      font-size: 18px; }
    .skillsFlexbox .box2 .description h3, .skillsFlexbox .box2 .description p {
      display: none; }
    .skillsFlexbox .box3 .description .skillsList {
      margin-top: 0; }
    .skillsFlexbox .box3 .description li {
      list-style: none;
      font-size: 18px; }
    .skillsFlexbox .box3 .description h3, .skillsFlexbox .box3 .description p {
      display: none; }
    .skillsFlexbox .box3 .description .topicStart {
      display: block; }
    .skillsFlexbox .box3 .description .interestList {
      display: block;
      padding: 0; }
      .skillsFlexbox .box3 .description .interestList li {
        margin-top: 50px; } }

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .skillsFlexbox {
    margin-top: -150px; }
    .skillsFlexbox .skillsList {
      padding: 0; }
    .skillsFlexbox .box1 .box1Icon {
      margin-bottom: 0px; }
    .skillsFlexbox .box1 .description p {
      display: none; }
    .skillsFlexbox .box2 .box2Icon {
      margin-bottom: 0px; }
    .skillsFlexbox .box2 .description .skillsList {
      margin-top: 55px; }
    .skillsFlexbox .box2 .description p {
      display: none; }
    .skillsFlexbox .box2 .description li {
      list-style: none;
      font-size: 18px; }
    .skillsFlexbox .box3 .description {
      margin: 50px 5px 50px 25px; }
      .skillsFlexbox .box3 .description .skillsList {
        margin-top: 0; }
      .skillsFlexbox .box3 .description p {
        display: none; }
      .skillsFlexbox .box3 .description li {
        font-size: 18px; }
      .skillsFlexbox .box3 .description .topicStart {
        display: block;
        margin-left: -10px; }
      .skillsFlexbox .box3 .description .interestList {
        display: block;
        padding: 0; }
        .skillsFlexbox .box3 .description .interestList li {
          margin-top: 50px; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .skillsFlexbox {
    margin-top: -140px;
    height: 800px; }
    .skillsFlexbox .skillsList {
      padding: 0; }
    .skillsFlexbox .box1 .description {
      margin: 50px 5px 50px 5px; }
      .skillsFlexbox .box1 .description h3, .skillsFlexbox .box1 .description p {
        display: block; }
    .skillsFlexbox .box1 .skillsList {
      margin-top: 40px; }
      .skillsFlexbox .box1 .skillsList .desTitle {
        margin-top: 20px;
        margin-bottom: 20px; }
    .skillsFlexbox .box2 .description h3 {
      display: block; }
    .skillsFlexbox .box2 .description p {
      display: block;
      margin-top: 40px; }
    .skillsFlexbox .box2 .description li {
      margin-left: 20px;
      list-style: decimal;
      font-size: 18px; }
    .skillsFlexbox .box3 .description {
      margin: 50px 5px 50px 15px; }
      .skillsFlexbox .box3 .description .topicStart {
        margin-left: 2px; }
      .skillsFlexbox .box3 .description h3 {
        display: block; }
      .skillsFlexbox .box3 .description p {
        display: block;
        margin-top: 40px; }
      .skillsFlexbox .box3 .description li p {
        display: none; } }

/* Large devices (laptops/desktops, 850px and up) */
@media only screen and (min-width: 850px) {
  .box1 .description p {
    margin-top: 40px; } }

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.contactMe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2024px;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
  display: none; }
  .contactMe .contactContainer {
    position: fixed;
    width: 60%;
    height: 600px;
    margin: 0 0 0 350px;
    padding-top: 30px;
    background-color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: lighter; }
    .contactMe .contactContainer .back {
      position: absolute;
      top: 15px;
      left: 15px;
      transition: 200ms; }
    .contactMe .contactContainer .back:hover {
      color: #D3D3D3; }
    .contactMe .contactContainer .contactDescription {
      font-size: 25px;
      text-align: center;
      margin-bottom: 20px; }
    .contactMe .contactContainer .sender {
      display: flex;
      margin-left: 125px;
      margin-bottom: 20px; }
      .contactMe .contactContainer .sender .name {
        margin-right: 50px; }
      .contactMe .contactContainer .sender input {
        width: 275px; }
    .contactMe .contactContainer .msg {
      margin-left: 125px; }
    .contactMe .contactContainer .txt {
      margin-bottom: 10px; }
    .contactMe .contactContainer textarea {
      width: 600px;
      height: 280px; }
    .contactMe .contactContainer button {
      float: right;
      margin-top: 15px;
      margin-right: 135px;
      border: 1px solid #E5E5E5;
      border-radius: 5px; }

body .titleBox {
  margin-top: 185px; }
  body .titleBox h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center; }
  body .titleBox p {
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 21px;
    text-align: center; }
