@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
//font-family: 'Roboto Slab', serif;
.navbar-default {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  border-radius: 0px;
  border: 0;
  background-color: white;
  .alert {
    width: 20%;
    margin: 20px auto;
    text-align: center;
    display: none;
  }
  .container-fluid {
    .navbar-header {
      margin: 15px 0 0 75px;
      .logo {
        width: 95px;
        height: 95px;
      }
    }
    .navbar-nav {
      float: right;
      margin-right: 100px;
      li {
        font-family: 'Roboto Slab', serif;
        font-size: 25px;
        font-weight: normal;
        margin: 40px 20px 0 0;
        transition: 150ms;
        cursor: pointer;
      }
      .home {
        padding: 0 5px 0 5px;
      }
      .home:hover {
        border-bottom: 2px solid black;
      }
      .about {
        padding: 0 5px 0 5px;
      }
      .about:hover {
        border-bottom: 2px solid black;
      }
      .skills {
        padding: 0 5px 0 5px;
      }
      .skills:hover {
        border-bottom: 2px solid black;
      }
      .projects {
        padding: 0 5px 0 5px;
      }
      .projects:hover {
        border-bottom: 2px solid black;
      }
      .contacts {
        border: 1px solid black;
        padding: 0 10px 0 10px;
        border-radius: 10px;
        margin-left: 250px;
        transition: 250ms;
        transition-delay: 100ms;
      }
      .contacts:hover {
        color: white;
        background-color: black;
      }
    }
  }
  .fa-bars {
    display: none;
  }
}

.sideBar {
  position: fixed;
  background-color: rgba( 223, 223, 223, 0.5);
  width: 50px;
  height: 110px;
  right: -5px;
  border: 1px solid black;
  border-radius: 5px;
  ul{
    height: 100%;
    list-style: none;
  }
  .top {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
  }
  .linkedinIcon{
    position: absolute;
    top: 35px;
    left: 10px;
  }
  .gitHubIcon{
    position: absolute;
    top: 70px;
    left: 10px;
  }
}

.footer {
  height: 375px;
  margin-top: 50px;
  background-color: #8C43FF;
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  .footerContainer {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    .footerDescription {
      font-size: 20px;
      font-weight: normal;
      text-align: center;
    }
    .links {
      margin: 50px 0 50px 30px;
      text-align: center;
      .fa-linkedin-in {
        padding: 11px 10px 11px 10px;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 20px;
        color: white;
        transition: 300ms;
      }
      .fa-linkedin-in:hover {
        color: #8C43FF;
        background-color: #FFF;
      }
      .fa-github {
        padding: 10px 10px 10px 10px;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 40px;
        color: white;
        transition: 300ms;
      }
      .fa-github:hover {
        color: #8C43FF;
        background-color: #FFF;
      }
      .fa-facebook-f {
        padding: 10px 12px 10px 12px;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 40px;
        color: white;
        transition: 300ms;
      }
      .fa-facebook-f:hover {
        color: #8C43FF;
        background-color: #FFF;
      }
      .fa-twitter {
        padding: 10px 10px 10px 10px;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 20px;
        color: white;
        transition: 300ms;
      }
      .fa-twitter:hover {
        color: #8C43FF;
        background-color: #FFF;
      }
      .fa-instagram {
        padding: 10px 10px 10px 10px;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 25px;
        color: white;
        transition: 300ms;
      }
      .fa-instagram:hover {
        color: #8C43FF;
        background-color: #FFF;
      }
      i {
        margin-right: 50px;
      }
    }
    .copyright {
      text-align: center;
      font-size: 13px;
      font-weight: lighter;
    }
    .credits {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
      font-weight: lighter;
      .form {
        width: 15px;
        height: 15px;
      }
    }
  }
}
