<div class='footer'>
  <div class="footerContainer">
    <div class="footerDescription">
      Well, you've reached the end of my profile. <br>
      I hope there were things that intrigued you and sparked an interest about me.
      If you have any inquiries or interests about what I do, please do reach out to me
      with the contact button on the top right corner!
    </div>

    <div class="links">
      <span>
        <a href="https://www.linkedin.com/in/tmai1995/" target="_blank">
          <i class="fab fa-linkedin-in fa-lg"></i>
        <a>

        <a href="https://github.com/cunytmai?tab=repositories" target="_blank">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://facebook.com/" target="_blank">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>

        <a href="https://instagram.com/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </span>
    </div>

    <div class="copyright">
      Created by me
        <span>
          <i class="far fa-copyright"></i>
        </span>
        TWICE
    </div>
  </div>
</div>
