<nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="homeLink" href="/">
          <img class="logo" src="./../../public/images/logo.png">
        </a>
      </div>

      <div class="menumedia" id="menu-access">
        <i class="fa fa-bars fa-2x"></i>
      </div>

      <ul class="nav navbar-nav">

        <li class="home">Home</li>

        <li class="about">About</li>

        <li class="skills">Skills</li>

        <li class="projects">Projects</li>

        <li class="contacts">Contact</li>

        <!-- <li class="linkedinIcon">
          <a href="https://www.linkedin.com/in/tmai1995/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </li>

        <li class="gitHubIcon">
          <a href="https://github.com/cunytmai?tab=repositories" target="_blank">
            <i class="fab fa-github-square fa-2x"></i>
          </a>
        </li> -->

      </ul>

    </div>

    <div class="alert alert-info">
      <strong>Info!</strong> Still working on my projects!
    </div>

</nav>
