<div class="sideBar">
  <ul>
    <li class="top">Top</li>
    
    <li class="linkedinIcon">
      <a href="https://www.linkedin.com/in/tmai1995/" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </li>

    <li class="gitHubIcon">
      <a href="https://github.com/cunytmai?tab=repositories" target="_blank">
        <i class="fab fa-github-square fa-2x"></i>
      </a>
    </li>
  </ul>
</div>
